.fondo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.382);
    z-index: 999;
}

.panel{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--background);
    animation: slideUp ease-out .4s forwards;
    z-index: 9999;
}

.panel__nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-bottom: 1px solid var(--border);
}

.comments{
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow-y: auto;
    scrollbar-width: none;
}

.comments__comment{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.comment__profile{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
    cursor: pointer;
}

.profile__foto{
    height: 40px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}

.profile__user{
    font-weight: 700;
}

.comment__date{
    font-size: 13px;
    margin-top: 5px;
    color: var(--gray-text);
}

.commentInput{
    width: 100%;
    display: flex;
    gap: 8px;
    padding: 15px;
    border-top: 1px solid var(--border);
}

.commentInput__input{
    all: unset;
    box-sizing: border-box;
    width: 100%;
}

.commentInput__addBtn{
    color: var(--azul);
    cursor: pointer;
}

.cerrarComentarios{
    animation: slideDown .4s ease-in;
}

@keyframes slideUp{
    from{
        bottom: -100%;
    }

    to{
        bottom: 0;
    }
}

@keyframes slideDown{
    from{
        bottom: 0;
    }

    to{
        bottom: -100%;
    }
}