.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.486);
    z-index: 999;
}

.closeBtn{
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    cursor: pointer;
}

.post{
    display: flex;
    height: 80dvh;
}

.post__nav{
    display: none;
}

.post__foto{
    height: 100%;
    aspect-ratio: 4/5;
    object-fit: cover;
    background-color: black;
}

.post__data{
    width: 450px;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--background);
}

.data__profile{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
    border-bottom: 1px solid var(--border);
    cursor: pointer;
}

.profile__foto{
    height: 40px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}

.profile__user{
    font-weight: 700;
}

.data__comments{
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow-y: auto;
    scrollbar-width: none;
}

.comments__comment{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.comment__profile{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
    cursor: pointer;
}

.comment__date{
    font-size: 13px;
    margin-top: 5px;
    color: var(--gray-text);
}

.post__options{
    width: 100%;
    display: flex;
    padding: 15px;
    gap: 20px;
    border-top: 1px solid var(--border);
}

.options__option{
    display: flex;
    align-items: center;
    color: var(--text);
    gap: 5px;
    cursor: pointer;
}

.options__option--comMovil{
    display: none;
}

.likeheart{
    animation: pop .4s ease-in forwards;
    color: var(--rojo);
}

.data__fecha{
    font-size: 14px;
    padding-inline: 15px;
    color: var(--gray-text);
    margin-bottom: 15px;
}

.data__commentInput{
    width: 100%;
    display: flex;
    gap: 8px;
    padding: 15px;
    border-top: 1px solid var(--border);
}

.commentInput__input{
    all: unset;
    box-sizing: border-box;
    width: 100%;
}

.commentInput__addBtn{
    color: var(--azul);
    cursor: pointer;
}

.panelComentarios{
    display: none;
}

.closeBtnNav{
    display: none;
}

@media (width < 1000px){
    .post{
        height: 55dvh;
    }
}

@media (width < 800px){

    .post{
        position: relative;
        flex-direction: column;
        height: 100dvh;
        width: 100%;
        max-width: 500px;
        overflow-y: hidden;
    }

    .post__nav{
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 10px;
        background-color: var(--background);
        border-bottom: 1px solid var(--border);
        cursor: pointer;
    }

    .closeBtnNav{
        display: block;
        position: absolute;
        top: 15px;
        right: 10px;
        cursor: pointer;
    }

    .post__foto{
        width: 100%;
        aspect-ratio: 1/1;
    }

    .data__profile{
        display: none;
    }

    .data__comments{
        order: 3;
    }

    .comments__comment{
        display: none;
    }

    .post__data{
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        height: 100%;
    }

    .post__options{
        order: 1;
    }

    .data__fecha{
        order: 2;
    }

    .options__option--com{
        display: none;
    }

    .options__option--comMovil{
        display: flex;
    }

    .data__commentInput{
        display: none;
    }

    .panelComentarios{
        display: block;
    }

    .closeBtn{
        display: none;
    }
}

@keyframes pop{
    0%{
        scale: 0.4;
    }

    50%{
        scale: 1.2;
    }

    100%{
        scale: 1;
    }
}